.dolly {
  display: none;
}

.judi {
  display: none;
}
.jlaw {
  display: none;
}
.miley {
  display: none;
}

.wilford {
  display: none;
}

.alan {
  display: none;
}

.chris {
  display: none;
}

.aziz {
  display: none;
}

.form-group {
  width: 25%;
}
